In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('../project/train.csv', index_col='id')
test = pd.read_csv('../project/test.csv', index_col='id')
stores = pd.read_csv('../project/stores.csv')
holidays = pd.read_csv('../project/holidays_events.csv')
oil = pd.read_csv('../project/oil.csv')

C:\Users\Pawe≈ÇWilkosz\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
joined_train = train.join(oil, rsuffix='_oil').join(stores, rsuffix='_store').join(holidays, rsuffix='_holidays')

joined_train

,date,store_nbr,family,sales,onpromotion,date_oil,dcoilwtico,store_nbr_store,city,state,type,cluster,date_holidays,type_holidays,locale,locale_name,description,transferred
id,,,,,,,,,,,,,,,,,,
0,2013-01-01,1,AUTOMOTIVE,0.000,0,2013-01-01,NaN,1.0,Quito,Pichincha,D,13.0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2013-01-01,1,BABY CARE,0.000,0,2013-01-02,93.14,2.0,Quito,Pichincha,D,13.0,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2013-01-01,1,BEAUTY,0.000,0,2013-01-03,92.97,3.0,Quito,Pichincha,D,8.0,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2013-01-01,1,BEVERAGES,0.000,0,2013-01-04,93.12,4.0,Quito,Pichincha,D,9.0,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2013-01-01,1,BOOKS,0.000,0,2013-01-07,93.20,5.0,Santo Domingo,Santo Domingo de los Tsachilas,D,4.0,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,2017-08-15,9,POULTRY,438.133,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3000884,2017-08-15,9,PREPARED FOODS,154.553,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3000885,2017-08-15,9,PRODUCE,2419.729,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3000887,2017-08-15,9,SEAFOOD,16.000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def is_holiday(row):
    if row['locale'] == 'National':
        return 1
    if row['locale'] == 'Local' and row['locale_name'] == row['city']:
        return 1
    if row['locale'] == 'Regional' and row['locale_name'] == row['state']:
        return 1

    return 0

joined_train['is_holiday'] = joined_train.apply(is_holiday, axis=1)

joined_train

,date,store_nbr,family,sales,onpromotion,date_oil,dcoilwtico,store_nbr_store,city,state,type,cluster,date_holidays,type_holidays,locale,locale_name,description,transferred,is_holiday
id,,,,,,,,,,,,,,,,,,,
0,2013-01-01,1,AUTOMOTIVE,0.000,0,2013-01-01,NaN,1.0,Quito,Pichincha,D,13.0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False,0
1,2013-01-01,1,BABY CARE,0.000,0,2013-01-02,93.14,2.0,Quito,Pichincha,D,13.0,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False,0
2,2013-01-01,1,BEAUTY,0.000,0,2013-01-03,92.97,3.0,Quito,Pichincha,D,8.0,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False,0
3,2013-01-01,1,BEVERAGES,0.000,0,2013-01-04,93.12,4.0,Quito,Pichincha,D,9.0,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False,0
4,2013-01-01,1,BOOKS,0.000,0,2013-01-07,93.20,5.0,Santo Domingo,Santo Domingo de los Tsachilas,D,4.0,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000883,2017-08-15,9,POULTRY,438.133,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3000884,2017-08-15,9,PREPARED FOODS,154.553,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3000885,2017-08-15,9,PRODUCE,2419.729,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3000887,2017-08-15,9,SEAFOOD,16.000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [15]:
joined_train[(joined_train.is_holiday == 1) & (joined_train.locale != 'National')]

,date,store_nbr,family,sales,onpromotion,date_oil,dcoilwtico,store_nbr_store,city,state,type,cluster,date_holidays,type_holidays,locale,locale_name,description,transferred,is_holiday
id,,,,,,,,,,,,,,,,,,,
24,2013-01-01,1,MEATS,0.0,0,2013-02-04,96.21,25.0,Salinas,Santa Elena,D,1.0,2012-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False,1